<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <h3>Needing a hand with something? Check out our FAQ below:</h3>
</p>
<ul>
  <li>
    <p><b>Why does the earth circles around the sun?</b></p>
    <p>Never thought about this, dude...</p>
  </li>
  <li>
    <p><b>I had three dogs, one died and one fleed. How many dogs I have now?</b></p>
    <p>That depends, does the dog still howls?</p>
  </li>
</ul>
