<h1>Password reset</h1>

<p>Hi <%= @user.name %>,</p>
<p>to reset your passoword click the link below:</p>
<%= link_to 'Password reset', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expure in two hours.</p>
<p>
  If your did not request your password to be reset, please ignore this email.
</p>
